<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <style>
        img{
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            border-radius: 20px;
        }
        .imgdiv{
            width: 25%;
            height: 300px;
            display: inline-block;
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>
</head>
<body style="text-align: center;">
<img src="/static/images/kosmos.png" class="img-responsive" style="margin: 0 auto" alt="我的壁纸">

<div class="container" style="margin-bottom: 30px">
    <div  class="imgdiv" th:each="wallpaper : ${wallpapers}">
    <img th:src="${wallpaper.key}" class="img-thumbnail img-responsive" alt="图片">
    <div class="caption" style="margin-top: 15px">
        <p>
            <a th:href="${wallpaper.value}" class="btn btn-primary" role="button">下载</a>
        </p>
    </div>
    </div>
    <div>
        <a th:href="@{/wallpaper(page=${page}-1)}" class="btn btn-default" role="button" th:if="${page} > 1">上一页</a>
        <span style="margin-left: 20px;margin-right: 20px" th:text="'第'+${page}+'页'">第几页</span>
        <span style="margin-left: 20px;margin-right: 20px" th:text="'共'+${length}+'页'">共几页</span>
        <a th:href="@{/wallpaper(page=${page}+1)}" class="btn btn-default" role="button" th:if="${page} < ${length}">下一页</a>
    </div>
</div>


<!--上传-->
<!--<div class="container">-->
    <!--<div class="alert alert-info" style="text-align: center">-->
        <!--<span><a href="/wallpaper/upload" role="button">上传文件</a></span>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>